.fondo_principal {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/Fondo\ portafolio.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
}

.nav_principal {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 16%;
  background-color: rgb(04, 04, 04, 0.5);
  margin: 0px;
}

.ul_principal {
  display: flex;
  justify-content: space-around;
  align-items: end;
  width: 90%;
  height: 100%;
  padding: 10px;
  list-style: none;
  margin: 0px;
  box-sizing: border-box;
}

.li_principal {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: 20px 30px 20px 30px;
  border-radius: 30px;
  box-sizing: border-box;
  margin: 0px;
}

.li_principal:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}

.boton_abrir_menu {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  top: 25px;
  left: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  transform: rotate(90deg);
  color: white;
  cursor: pointer;
}

.encabezado_principal {
  display: block;
  color: white;
  margin-top: 6%;
  margin-left: 17%; /*250px */
  font-size: 50px;
  width: 80%;
}

.titulo_principal {
  font-size: 200%;
  margin-bottom: 7%;
}

.descripcion_principal {
  font-size: 45%;
  width: 85%;
}

.menu {
  position: absolute;
  width: 250px;
  height: 100%;
  background-color: rgba(54, 20, 20, 0.76);
  padding: 0px;
  margin: 0px;
}

.boton_cerrar_menu {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-size: 70px;
  font-family: 'Times New Roman', Times, serif;
  margin: -40px 5px 0px 0px;
  cursor: pointer;
}

.div_boton_cerrar_menu {
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 0px;
}

.ul_menu {
  list-style: none;
  width: 90%;
  margin: 0px;
  padding: 0px;
}

.li_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: white;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  width: 90%;
  text-align: center;
}

.li_menu:hover {
  background-color: rgb(150, 6, 6);
  cursor: pointer;
}

.div_ul_menu {
  display: flex;
  margin: 60px 0px 0px 15px;
  justify-content: center;
  width: 100%;
  padding: 0px;
}

.div_descargar_cv {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 100%;
  color: aqua;
  font-size: 16px;
}

.div_descargar_cv:hover {
  text-decoration: underline;
  cursor: pointer;
}

.encabezado_menu {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: rgba(0, 0, 0, 0);
}

.titulo_menu {
  width: 100%;
  margin-top: -40px;
  margin-left: 35px;
  color: white;
}

@media screen and (max-width: 800px) {
  .fondo_principal {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .nav_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    .ul_principal{
      display: grid;
      justify-items: center;
      flex-wrap: wrap;
      width: 50%;
      margin-top: 10%;
    }
    .li_principal {
      font-size: 100%;
      display: inline;
      padding: 6%;
    }
  }
  .boton_abrir_menu {
    font-size: 200%;
  }
  .encabezado_principal {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20%;
    .titulo_principal {
      font-size: 120%;
      width: 100%;
    }
    .descripcion_principal {
      width: 90%;
    }
  }

}